* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.menu__inner {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
    padding: 10px 20px;
}

.nav li a:hover {
    
    background-color: #217DE8;
    color: white;
    border-radius: 5px;
}
.btn-login {
    color: #fff;
    width: 113px;
    height: 35px;
    background: #16549C;
    border-radius: 10px;
    border: none;
}
.btn-login:hover {
    background-color: #217DE8;
}
.container {
    padding-bottom: 100px;
    margin: 0 auto;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #4e7bd4;
  }
  .profile-info h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: #333;
    }
    
    .profile-info p {
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    }
    
    .profile-email:before {
    content: "Email: ";
    font-weight: 600;
    }
    
    .profile-location:before {
    content: "Местоположение: ";
    font-weight: 600;
    }
    
    .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    .course {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    }
    
    .course h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    }
    .course-details p {
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: 400;
    color: black;
    }
    
    .course-description:before {
    content: "Описание: ";
    font-weight: 600;
    }
    
    .course-duration:before {
    content: "Длительность: ";
    font-weight: 600;
    }
    
    .course-instructor:before {
    content: "Преподаватель: ";
    font-weight: 600;
    }  
    footer {
        text-transform: uppercase;
        width: 100%;
        background-color: #16549C;
        color: #fff;
        margin: 0 auto;
        flex-shrink: 0;
    }
    .container_footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav-footer li {
        list-style: none;
        padding: 10px;
        
    }
    h3 {
        padding-left: 50px;
    }
    .nav-footer li a{
        color: #fff;
        text-decoration: none;
    }
    .col_social {
        display: flex;
    }
    .nav-footer li a:hover {
        color: #c0c0c0;
    }
    .fa {
        color: #fff;
        padding-right: 15px;
        font-size: 40px;
    }
    .icon .fa:hover {
        color: #c0c0c0;
    }
  